## 판다스 연습 튜토리얼
참고 : https://www.datamanim.com/dataset/99_pandas/pandasMain.html

### 01 Getting & Knowing Data
롤 랭킹 데이터 : https://www.kaggle.com/datasnaek/league-of-legends
DataUrl = ‘https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv’

In [2]:
import pandas as pd

In [3]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(DataUrl,sep='\t')

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
# 데이터 상위 5개 행을 출력하라
print(df.head(5))

       gameId   creationTime  gameDuration  seasonId  winner  firstBlood  \
0  3326086514  1504279457970          1949         9       1           2
1  3229566029  1497848803862          1851         9       1           1
2  3327363504  1504360103310          1493         9       1           2
3  3326856598  1504348503996          1758         9       1           1
4  3330080762  1504554410899          2094         9       1           2

   firstTower  firstInhibitor  firstBaron  firstDragon  ...  t2_towerKills  \
0           1               1           1            1  ...              5
1           1               1           0            1  ...              2
2           1               1           1            2  ...              2
3           1               1           1            1  ...              0
4           1               1           1            1  ...              3

   t2_inhibitorKills  t2_baronKills  t2_dragonKills  t2_riftHeraldKills  \
0                  0              0               1                   1
1                  0              0               0                   0
2                  0              0               1                   0
3                  0              0               0                   0
4                  0              0               1                   0

   t2_ban1  t2_ban2  t2_ban3  t2_ban4  t2_ban5
0      114       67       43       16       51
1       11       67      238       51      420
2      157      238      121       57       28
3      164       18      141       40       51
4       86       11      201      122       18

[5 rows x 61 columns]

In [7]:
# 열과 행 개수
df.shape
print('행 : ', df.shape[0])
print('열 : ', df.shape[1])

행 :  51490
열 :  61

In [8]:
# 전체 컬럼을 출력
print(df.columns)

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [10]:
# 6번째 컬럼명을 출력하라
a = df.columns[5]
print(a)

firstBlood

In [24]:
# 6번째 컬럼명의 데이터타입?
df.iloc[:, 5].dtype

dtype('int64')

In [26]:
# 인덱스 구성?
df.index

RangeIndex(start=0, stop=51490, step=1)

In [27]:
# 6번째 컬럼의 3번째 값?
df.iloc[2, 5]

2